@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* =============================
        Utilities style
================================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    /* font-size: 14px; */
}

p {
    font-size: 16px;
    line-height: 26px;
}

/* =============================
        Header section style
================================*/
.header {
    background-color: #2D25A0;
    margin-bottom: 70px;
}

.container {
    max-width: 1164px;
    margin: 0 auto;
    padding-bottom: 88px;
}

.manu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 42px;
}

.manu-items ul {
    display: flex;
}

.manu-items ul li {
    list-style: none;
    
}

.manu-items ul li:not(:first-child) {
    padding-left: 36px;
}

.manu-items ul li a {
    color: #FFFFFF;
}

.banner {
    display: flex;
    padding-top: 67px;
}

.banner-info {
    width: 50%;
    padding-top: 54px;
}

.section-title {
    width: 485px;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    color: #FFFFFF;
    margin-bottom: 37px;
}

.button {
    background-color: #E02C6D;
    color: #FFFFFF;
    padding: 10px 15px;
    /* custom btn */

    transition: all 1s ease;
    position: relative;
    z-index: 1;
    display: inline-block;
}

.button::after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #e0e5ec;
    transition: all 1s ease;
}

.button:hover {
    color: #000;
}

.button:hover::after {
    left: 0;
    width: 100%;
}

.button:active {
    top: 2px;
}

.banner .banner-img img {
    width: 556.01px;
    height: 438px;
}

/* .manu {
    display: flex;
    justify-content: space-between;
    padding-top: 52px;
    max-width: 1160px;
    margin: 0 auto;
}

.manu-items ul {
    display: flex;
    align-items: center;
    margin-left: 156px;
}

.manu-items ul li {
    list-style: none;
}

.manu-items ul li:not(:first-child) {
    padding-left: 36px;
}

.manu-items ul li a {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
} */

/* .login {
    width: 123px;
} */

/* .login a {
    color: #FFFFFF;
    margin-right: 140px;
    background-color: #E02C6D;
    font-weight: 500;
    font-size: 16px;
    padding: 10px 14px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 67px;
    padding-bottom: 86px;
}

.banner {
    margin-left: 156px;
}

.section-title {
    font-weight: 700;
    font-size: 64px;
    color: #FFFFFF;
    margin-bottom: 37px;
    line-height: 80px;
}

.button {
    background-color: #E02C6D;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    padding: 10px 24px;
    margin-top: 37px;
    display: inline-block;
    transition: 0.4s ease-in-out;
}

.button:hover {
    background-color: red;

    transform: scale(1.2);
}

span {
    font-size: 14px;
    padding-left: 8px;
}

.banner-img {
    margin-right: 140px;
}

.banner-img img {
    width: 556.01px;
    height: 438px;
} */

/* =============================
        Main section style
================================*/

.main {
    max-width: 1050px;
    margin: 0 auto;
}

.top-players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.player {
    width: 330px;
    padding: 15px;
    box-shadow: 0px 3px 10px #21252947;
}
.top-players .player img {
    width: 300px;
    height: 256px;
}

.player h2 {
    padding-top: 16px;
    padding-bottom: 10px;
}

.player p {
    padding-top: 8px;
    padding-bottom: 24px;
}

.match-summary {
    width: 469px;
    height: 309px;
    padding-top: 66px;
    margin-right: 60px;
}

.match-info h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
}

.container .match-img img {
    width: 567px;
    height: 427px;
}

/* =============================
        Form Style
================================*/
.order-kit {
    padding-bottom: 80px;
}

.kit-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-form {
    display: flex;
    /* justify-content: space-between; */
}

.pre-order {
    width: 50%;
}

.pre-order-title {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 16px;
}

.option p span {
    padding-left: 10px;
}

.form-container {
    padding-left: 10px;
}

.league-selector {
    width: 255px;
    height: 33px;
    font-size: 16px;
    padding: 4px 10px;
    outline: none;
    border: none;
    background-color: #E7E7E8;
}

.submission-form h4 {
    margin-top: 18px;
    margin-bottom: 21px;
}

.submission-form p input {
    background-color: #E7E7E8;
    font-size: 16px;
    margin-right: 20px;
    padding: 16px;
    margin-bottom: 18px;
    height: 30px;
    width: 255px;
    border: none;
    outline: none;
}

#btn {
    border: none;
    width: 255px;
    font-size: 15px;
}
.kit-container .kit-image img {
    width: 423px;
    height: 432px;
}

/* =============================
        Result Style
================================*/

.top-team-result {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}

.result {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.result-container {
    box-shadow: 0px 3px 10px #21252947;
    padding: 8px 32px 0 16px;
}

.team {
    display: flex;
    align-items: center;
}

.team .title {
    margin-left: 8px;
}

.title p {
    font-size: 13px;
}

.title p:not(:first-child) {
    color: #aaa;
}

.title h3 {
    font-size: 15px;
    font-weight: 400;
}

.team img {
    max-width: 64px;
}

/* =============================
        Point Table
================================*/

.table-img {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.table-img img {
    height: 15px;
    width: 115px;
}

#table-view a {
    font-size: 10px;
}

th {
    border-collapse: collapse;
    border-bottom: 1px solid #969BAB;
}

th:not(:first-child) {
    margin-right: 20px;
    table-layout: auto;
    width: 75px;
}
tr td:not(:first-child) {
    text-align: center;
}

.mini-table__team {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.serial {
    margin-right: 10px;
}

.flag img {
    margin-right: 8px;
    height: 24px;
    width: 24px;
}

/* =============================
        Footer section style
================================*/

.footer {
    width: 483px;
    margin: 0 auto;
    margin-top: 64px;
    padding-bottom: 63px;
}
.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-container .footer-logo img {
    width: 483px;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
.social-icons .icon:not(:last-child) {
    margin-right: 14px;
}
.icon a {
    background-color: #E7E7E8;
    color: #969BAB;
    font-size: 17px;
    display: flex;
    width: 35px;
    align-items: center;
    justify-content: center;
    height: 35px;
    border-radius: 50%;
}

/* toogle button */
.toggle-btn {
    display: none;
}